---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <!-- disqus comments -->
    <!-- Install instructions for Jekyll - Disqus Admin https://disqus.com/admin/install/platforms/jekyll/ -->
    {% if page.comments %}
      <!-- Install instructions for Universal Code - Disqus Admin https://disqus.com/admin/install/platforms/universalcode/ -->
      <div id="disqus_thread"></div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */

        /**
        *  Usage:
        *  JavaScript configuration variables · Disqus https://help.disqus.com/customer/en/portal/articles/472098-javascript-configuration-variables
        *  Front Matter | jekyll https://jekyllrb.com/docs/frontmatter/#custom-variables
        *  Variables | jekyll https://jekyllrb.com/docs/variables/
        */

        var disqus_config = function () {
        this.page.url = "{{ site.url }}" + "{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.uuid }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        var disqus_shortname = 'allenyls-blog'; // required: replace example with your forum shortname

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <!-- Install instructions for Universal Code - Disqus Admin https://disqus.com/admin/install/platforms/universalcode/ -->
    {% endif %}
    <!-- Install instructions for Jekyll - Disqus Admin https://disqus.com/admin/install/platforms/jekyll/ -->
  <!-- disqus comments -->

</article>

<!-- MathJax https://www.mathjax.org/#gettingstarted -->
{% if page.mathjax %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
{% endif %}
<!-- mathjax -->

<!-- Guidance for Publishers – Hypothesis https://web.hypothes.is/for-publishers/ -->
<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false
  }
</script>
<script async src="https://hypothes.is/embed.js"></script>
<!-- Guidance for Publishers – Hypothesis -->